@use '../variables' as vars;
@use '../mixins' as mixins;

.card {
  @include mixins.flexArea(column, center, center);
  gap: vars.$spacing-atomic-xxx;
  padding: vars.$spacing-x-atomic;
  border: 1px solid vars.$color-nav-border;
  border-radius: vars.$spacing-x-atomic;
  background-color: vars.$color-card-bg;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: vars.$card-hover-shadow;
  }

  &--heighlighted {
    background-color: vars.$color-card-bg-heighlighted;
    border: 2px solid vars.$color-card-bg-heighlighted;
  }

  &__header {
    @include mixins.flexArea(column, start, start);
    gap: vars.$spacing-xxx-atomic;
    width: 100%;

    .card__title {
      @include mixins.text(vars.$color-text-primary, vars.$text-size-small, vars.$text-weight-bold, vars.$text-size-small);
    }

    .card__subtitle {
      @include mixins.text(vars.$color-text-primary, vars.$text-size-x-small, vars.$text-weight-semi-bold, vars.$text-size-x-small);
    }
  }

  &__body {
    @include mixins.flexArea(column, start, start);
    gap: vars.$spacing-atomic;
    width: 100%;

    &__item {
      @include mixins.text(vars.$color-text-primary, vars.$text-size-micro-x, vars.$text-weight-normal, vars.$text-size-micro-x);
    }
  }

  &__footer {
    @include mixins.flexArea(row, start, space-evenly);
    gap: vars.$spacing-atomic;
    width: 100%;
  }
}
