@mixin navbar($position, $top, $bottom, $width, $padding, $margin, $backgroundColor, $borderPlace, $borderThickness, $borderColor, $borderRadius) {
  position: $position;
  top: $top;
  bottom: $bottom;
  width: $width;
  padding: $padding;
  margin: $margin;
  background-color: $backgroundColor;
  @if $borderPlace == 'top' {
    border: none;
    border-top: $borderThickness solid $borderColor;
  } @else if $borderPlace == 'bottom' {
    border: none;
    border-bottom: $borderThickness solid $borderColor;
  } @else if $borderPlace == 'left' {
    border: none;
    border-left: $borderThickness solid $borderColor;
  } @else if $borderPlace == 'right' {
    border: none;
    border-right: $borderThickness solid $borderColor;
  } @else {
    border: $borderThickness solid $borderColor;
  }
  border-radius: $borderRadius;
}

@mixin flexArea($direction, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin text($color, $size, $weight, $lineHeight) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin area($display, $position, $width, $height, $padding, $margin, $backgroundColor) {
  display: $display;
  position: $position;
  width: $width;
  height: $height;
  padding: $padding;
  margin: $margin;
  background-color: $backgroundColor;
}

@mixin borderedArea($borderThickness, $borderColor, $borderRadius) {
  border: $borderThickness solid $borderColor;
  border-radius: $borderRadius;
}

@mixin gridArea($direction, $gap, $autoColumns, $templateRows, $templateColumns) {
  display: grid;
  grid-gap: $gap;
  grid-auto-flow: $direction;
  grid-auto-columns: $autoColumns;
  grid-template-rows: minmax($templateRows, 1fr);
  grid-template-columns: $templateColumns;
}

@mixin divider($height: 1px, $color, $width) {
  border-top: $height solid $color;
  width: $width;
}

@mixin button($bg-color, $fg-color, $border-radius, $border-thickness, $border-color, $hover-bg-color) {
  background-color: $bg-color;
  color: $fg-color;
  border-radius: $border-radius;
  border: $border-thickness solid $border-color;
  cursor: pointer;
  transition: 300ms all ease-in-out;

  &:hover {
    background-color: $hover-bg-color;
  }
}
