@use './variables' as vars;
@use './mixins' as mixins;

:root {
  font-family: vars.$text-family;
  color: vars.$color-text-primary;
  background-color: vars.$color-bg;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
}

.p-multiselect {
  max-width: vars.$card-button-max-width !important;
}

.page-container {
  @include mixins.flexArea(column, center, center);
  @include mixins.height(100%);
  @include mixins.padding(vars.$spacing-small, vars.$spacing-micro-increased);
  @include mixins.x-responsive-padding(vars.$spacing-xxx-micro, vars.$spacing-micro-x, vars.$spacing-small);
}

.generic-page-container {
  @include mixins.flexArea(column, center, center);
  @include mixins.height(100vh);
  @include mixins.width(100%);
  @include mixins.padding(vars.$spacing-atomic-xx, vars.$spacing-x-atomic);
  @include mixins.text-align(center);

  .generic-page-image {
    @include mixins.margin(vars.$spacing-atomic-xx, vars.$spacing-x-atomic);
    @include mixins.responsive-width(100%, 70%, 50%, 40%);
  }

  .generic-page-title {
    @include mixins.text(vars.$color-text-primary, vars.$text-size-medium, vars.$text-weight-bold, vars.$text-size-medium);
    @include mixins.responsive-text(vars.$text-size-small, vars.$text-size-medium, vars.$text-size-medium-x, vars.$text-size-large);
  }

  .generic-page-description {
    @include mixins.text(vars.$color-text-primary, vars.$text-size-micro, vars.$text-weight-normal, vars.$text-size-medium);
  }
}
